
/*font family*/

html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	font-family: Georgia,Helvetica,Tahoma,Sans-serif;
}

/*background*/

body {
	background-color: #ECECEC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
}

#homepage {
	background: url(../images/IMG_0564_01.JPG) top center no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;

}

/*clear fix*/

.clear-fix:before,
.clear-fix:after {
	content:"";
	display: table;
}

.clear-fix:after {
	clear:both;
}

.clear-fix {
	zoom: 1;
}

/*top navigation*/

.logo, .logo li, .nav-menu li {
	display: inline-block;
}

.banner, .nav-container, .logo, .logo li, .nav-menu, .nav-menu ul, .nav-menu li {
	height: 72px;
}

.banner {
	background-color: #323232;
}

.nav-container {
	max-width: 990px;
	margin: 0 auto;
}

.logo {
	font-size: 28px;
}

.logo img {
	height: 46px;
	margin: auto 0;
}

.logo p {
	display: block;
	height: 46px;
	font-weight: bold;
	font-size: 20px;
	margin: auto 5px auto 0;
	color: #ececec;
	width: 60px;
}

.nav-menu {
	float: right;
}

.nav-menu li {
	font-size: 16px;
	padding: 0px 10px;
	line-height: 72px;

}

.nav-menu a {
	color: #808080;
}

.nav-menu a:hover {
	color: #ececec;
}

.current a {
	color: #ECECEC;
}


/*main content*/



.main-content {
	display: -webkit-flex;
  	display: flex;
	max-width: 990px;
	height: auto;
	margin: -50px auto 30px auto;
	font-size: 12px;
	color: #808080;
}

/*header*/

.header-background {
	width: 100%;
	height: 200px;
	display: -webkit-flex;
  	display: flex;
}
.header-background[id=games] {
	background-color: #8aba56;
}

.header-background[id=movies] {
	background-color: #E15443;
}

.header-background[id=signup] {
	background-color: #009CDC;
}

.header-container {
	margin: auto;
	width: 990px;
}

.header-container h1 {
	font-size: 90px;
	font-weight: bold;
	color: #ffffff;
}

.header-container p {
	font-size: 16px;
	color: #ffffff;
}

/*flexbox*/

.flexbox1 {
	display: -webkit-flex;
  	display: flex;
	-webkit-flex: 1;
  	flex: 1;
	flex-direction: column;
}

.flexbox21 {
	display: -webkit-flex;
  	display: flex;
	-webkit-flex: 2;
  	flex: 2;
	flex-direction: column;
}

.box {
  	border: #e5e5e5 solid 1px;
	border-radius: 4px;
	background-color: #ffffff;
	margin: 5px;
}
.box img {
	display: block;
	width:  250px;
	margin: 10px auto 20px auto;
}

.box h2 {
	font-size: 16px;
	padding: 5px 0 5px 16px;
	margin: 10px 0 5px 15px;
	font-weight: bold;
}

.box p {
	font-size: 14px;
	margin: 10px 34px 100px 34px;
}

/*normal box*/

.box-homepage {
	width: 400px;
	height: 220px;
	background: rgb(255,252,244);
	position: relative;
	background-repeat: no-repeat;
	background-color: rgb(255,252,244);
	background-image: url(../images/cat-full.png);
	background-size: 200px;
	background-position: center center;
	margin: 150px auto auto auto;
}
.box-homepage:before {
	content: "";
	position: absolute;
	top: -100px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 100px solid rgb(255,252,244);
}
.box-homepage:after {
	content: "";
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 100px solid rgb(255,252,244);
}

.homepage-buttonbox {
	width:400px;
	height: 50px;
	margin: 200px auto 0 auto;
}

.homepage-buttonbox ul {
	margin:auto;
}

.homepage-buttonbox li {
	display: inline-block;
	text-align: center;
}

.homepage-buttonbox a {
	color: #ececec;
}

.button-blue {
	width: 165px;
	height: 45px;
	background-color: #009CDC;
	border-radius: 4px;
	line-height: 45px;
	margin: 0 10px 0 30px;
	opacity: 0.9;
}

.button-grey {
	width: 165px;
	height: 45px;
	background-color: #323232;
	border-radius: 4px;
	line-height: 45px;
	margin: 0 5px 0 10px;
	opacity: 0.9;
}



/*container*/

.container-homepage {
	height: 600px;
}

.container-games {
	background-color: rgb(255,252,244);
	height: 500px;
}

.container-movies {
	background-color: rgb(96,210,211);
	height: 500px;
}

.clearfix {
  overflow: auto;
}

/*form*/

.signup-form {
	width: 600px;
	padding: 10px;
	margin: 20px auto;
}

label {
	display: block;
	margin-bottom: 5px;
	width: 560px;
}

input {
	display: block;
	margin-bottom: 20px;
	width: 560px;
	height: 30px;
	border: #e5e5e5 solid 1px;
	border-radius: 4px;
}

input[type=submit] {
	width: 80px;
	background-color: #009CDC;
	border: #ffffff solid 1px;
	border-radius: 4px;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: bold;
}

input[id=birthdate], input[list=month] {
	display: inline;
	width: 100px;
	padding-left: 10px;
	margin-right: 10px;
}

input[id=email] {
	color: #808080;
	text-align: right;
	padding-right: 10px;
	width: 560px;
}

