html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	font-family: Georgia,Helvetica,Tahoma,Sans-serif;
}

body {
	background-color: #ECECEC;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
}

/*navigation*/

.banner {
	background-color: #323232;
	position: relative;
	width: 100%;
	height: 72px;
	display: block;
	padding-top: 10px;
}

.banner:before,
.banner:after {
content: "";
display: table;
}

.banner:before,
.banner:after {
content: "";
display: table;
}

.container-nav {
	max-width: 990px;
	height: 56px;
	margin: 0 auto;
}

.container-nav:before,
.container-nav:after {
content: "";
display: table;
}

.container-nav:before,
.container-nav:after {
content: "";
display: table;
}

.logo {
	display: block;
	float: left;
	font-size: 28px;
	height: 56px;
	width: 40%;
}

.logo img {
	width: 46px;
	margin: 0px 0 0 10px;
	float: left;
}

.logo-text {
	font-weight: bold;
	float: left;
	font-size: 20px;
	margin: 5px 0 0 0;
	color: #ececec;
	width: 60px;
}

.nav-menu {
	width: auto;
	height: 56px;
	margin: auto 0;
	float: right;
}

.nav-menu ul {
	height: 56px;
}

.nav-menu li {
	display: inline-block;
	font-size: 16px;
	padding: 20px 10px;
	line-height: 16px;
}

.nav-menu a {
	color: #808080;
}

.nav-menu a:hover {
	color: #ececec;
}

.current a {
	color: #ECECEC;
}

.logo a {
	color: #ececec;
}

/*main*/

h1 {
	font-size: 22px;
	color: #ffffff;
}

h2 {
	padding: 5px 0 5px 16px;
	margin: 10px 0 5px 0;
	font-weight: bold;
}

.main-content {
	display: -webkit-flex;
  	display: flex;
	max-width: 990px;
	height: auto;
	margin: -50px auto 30px auto;
	font-size: 12px;
	color: #808080;
}

/*header*/

.header-main {
	width: 100%;
	height: 200px;
	display: -webkit-flex;
  	display: flex;
}
.header-main[id=games] {
	background-color: #8aba56;
}

.header-main[id=movies] {
	background-color: #E15443;
}

.header-main[id=signup] {
	background-color: #009CDC;
}

.header-title {
	margin: auto;
	width: 990px;
}

.header-title h1 {
	font-size: 90px;
	font-weight: bold;
	color: #ffffff;
}

.header-title p {
	font-size: 16px;
	color: #ffffff;
}

/*flexbox*/

.flexbox1 {
	display: -webkit-flex;
  display: flex;
	-webkit-flex: 1;
          flex: 1;
	flex-direction: column;
}

.flexbox21 {
	display: -webkit-flex;
  display: flex;
	-webkit-flex: 2;
          flex: 2;
	flex-direction: column;
}

.box {
  border: #e5e5e5 solid 1px;
	border-radius: 4px;
	background-color: #ffffff;
	margin: 5px;
}
.box img {
	display: block;
	width:  250px;
	margin: 10px auto 20px auto;
}

.box h2 {
	margin-left: 16px;
	font-size: 16px;
}

.box p {
	font-size: 14px;
	margin: 10px 34px 100px 34px;
}

.clearfix {
  overflow: auto;
}

/*form*/

.signup-form {
	width: 600px;
	padding: 10px;
	margin: 20px auto;
}

label {
	display: block;
	margin-bottom: 5px;
	width: 560px;
}

input {
	display: block;
	margin-bottom: 20px;
	width: 560px;
	height: 30px;
	border: #e5e5e5 solid 1px;
	border-radius: 4px;
}

input[type=submit] {
	width: 80px;
	background-color: #009CDC;
	border: #ffffff solid 1px;
	border-radius: 4px;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: bold;
}

input[id=birthdate], input[list=month] {
	display: inline;
	width: 100px;
	padding-left: 10px;
	margin-right: 10px;
}

input[id=email] {
	color: #808080;
	text-align: right;
	padding-right: 10px;
	width: 560px;
}

